$primary-color: #FF5C00;
$black: #000000;
$black-131313: #131313;
$dark-2: #454545;
$dark-3: #737373;
$gold: #FFA800;
$white: #FFFFFF;
$item-hover: #FFF7F2;

// Font family
$inter: 'Inter', sans-serif;